
*, ::after, ::before {
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
}

main {
    background-image: url(./images/bg-mobile.svg);
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
    padding: 2rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

                                        /* Header stylesheet */
header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
                                        /* Logo stylesheet */
.logo {
    width: 100%;
    cursor: pointer;
}
.logo>img {
    width: 10rem;
    margin: 0 2rem;
}
                                        /* Section Image Stylesheet */
section>img {
    max-width: 70vw;
    margin: 1.5rem 2rem;
    object-fit: contain;
}
                                        /* Section Content Stylesheet */
section {
    text-align: center;
}
section div {
    margin: 2rem;
}
h1 {
    margin: 2rem 0;
    font-size: 2.5rem;
    font-weight: 600;
    transition: 0.34s;
}
h1:hover {
    color: hsl(300, 69%, 71%);
}
p {
    margin: 2rem 0;
    font-weight: 300;
}
                                        /* Button Stylesheet */
button {
    width: 16rem;
    padding: 1rem;
    border-radius: 40px;
    box-shadow: 2px 8px 19px hsl(257, 71%, 40%);
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: hsl(257, 40%, 49%);
    transition: 0.34s;
}
button:hover {
    background-color: hsl(300, 69%, 71%);
    color: #fff;
}
                                        /* Social Media Icon Stylesheet */
.icon {
    text-align: center;
    border: 2.3px #fff solid;
    border-radius: 50%;
    padding: 0.7rem;
    margin: 0.5rem;
    width: 1rem;
    cursor: pointer;
    box-shadow: 2px 8px 19px hsl(257, 71%, 40%);
    transition: 0.34s;
}
.icon:hover {
    border: 2.3px hsl(300, 69%, 71%) solid;
    color: hsl(300, 69%, 71%);
}

                                        /* Media Query Stylesheet */
@media (min-width: 1080px)  {
    main {
        background-image: url(./images/bg-desktop.svg);
        max-height: 100vh;
    }
    section {
        display: flex;
    }
    header {
        justify-content: end;
        align-items: end;
        gap: 0;
    }
    section>img {
        max-width: 40%;
        margin: 2.5rem 2rem 0;
    }
    .logo {
        width: 100%;
        
    }
    .logo>img {
        width: 10rem;
        margin: 1.3rem 0 0;
        padding-left: 3rem;
    }
    .content {
        margin: 3rem 3rem 5rem 5rem;
        text-align: start;
    }
    h1 {
        font-size: 3rem;
    }
    button {
        width: 12rem;
    }
    .icons {
        padding-right: 3rem;
    }
}
@media (min-width: 1280px) {
    section>img {
        max-width: 100%;
    }
}

                                        /* Footer Stylesheet */
.attribution {
    font-size: 15px;
    text-shadow: 2px 8px 19px hsl(257, 71%, 40%);
} 

.attribution a {
    color: hsl(300, 69%, 71%);
    transition: 0.34s;
}
.attribution a:hover {
    color: hsl(257, 71%, 40%);
}
